body {
    font-family: Arial;
    background: #f5f5f5;
}

/* Center box */
.container {
    width: 400px;
    margin: 100px auto;
    background: #eaeaea;
    padding: 20px;
    border-radius: 5px;
}

/* Input */
input {
    padding: 6px;
    width: 200px;
}

/* Button */
button {
    padding: 6px 12px;
    margin-left: 5px;
    background: #1a73e8;
    color: white;
    border: none;
    border-radius: 3px;
}

/* Result */
#result {
    margin-top: 15px;
}